<div @ref="elem" class="ct-chart"></div>

@* Pass 'this' instance as a cascading parameter to descendants in tree *@
<CascadingValue Value="@this">
    @ChildContent
</CascadingValue>

@inject IJSRuntime JS
@code {
    ElementReference elem;

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public ChartType Type { get; set; }
    [Parameter] public ChartData Data { get; set; } = new ChartData();
    [Parameter] public IEnumerable<string> Labels { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("BlazorChartist.createChart", elem, Type.ToString());
        }

        Data.Labels = Labels;

        await JS.InvokeVoidAsync("BlazorChartist.updateChart", elem, Data);
    }
}
