@inject IJSRuntime JS

<div class="@AspectRatio.ToCssClass()"></div>

@code {
    [Parameter] public AspectRatio? AspectRatio { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("BlazorChartist.createChart");
        }
    }
}
