<div class="ct-chart ct-perfect-fourth"></div>
@code {     
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            
        }
        return Task.CompletedTask;
    }
}
