@inject IJSRuntime JS

<div class="ct-chart"></div>

@code {     
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("BlazorChartist.createChart");
        }
    }
}
